{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.2/dist/tailwind.min.css" rel="stylesheet">
        <link href="{% static 'css/output.css' %}" rel="stylesheet">
    </head>

    <body class="bg-network backdrop-filter backdrop-blur-lg bg-opacity-0">

        <div class="px-8 py-4 h-screen">
            {% block body %}
            {% endblock %}
        </div>

    </body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static "js/compose_post.js" %}"> </script>
<script src="{% static "js/delete_post.js" %}"> </script>
<script src="{% static "js/dropdown.js" %}"> </script>
<script src="{% static "js/changeOnPostForm.js" %}"> </script>
<script src="{% static "js/doLike.js" %}"> </script>
<script src="{% static "js/inputFileChangeImages.js" %}"> </script>
<script src="{% static "js/doFollow.js" %}"> </script>
<script src="{% static "js/editPost.js" %}"> </script>
</html>